html,
body,
#root {
  min-height: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, "Segoe UI", sans-serif;
  background: #29170a;
  color: #fbfbfb;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button,
input,
textarea {
  font: inherit;
}
